<html>
    <head>
        <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>

        <form id= "uploadForm" enctype="multipart/form-data">
            指定文件名： <input type="text" name="filename" value= ""/>
            上传文件： <input type="file" name="file"/>
            <input type="button" id="btn" value="upload file">
        </form>

        <script>
            $(function(){
                $("#btn").click(function(){
                    var formData = new FormData($("#uploadForm")[0]);
                    formData.append ("age" , "21");
                    $.ajax({
                        url: '/uploadImage' ,
                        type: 'POST',
                        data: formData,
                        async: false,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (returndata) {
                            console.log(returndata);
                        },
                        error: function (returndata) {
                            console.log(returndata);
                        }
                    });
                });
            });
        </script>
    </body>
</html>